<footer class="footer ftco-section ftco-no-pt">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg">
          <div class="ftco-footer-widget py-4 py-md-5">
            <h2 class="logo"><a href="#">Chiropractic</a></h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg">
          <div class="ftco-footer-widget ml-md-5 py-5">
            <h2 class="ftco-heading-2">Services</h2>
            <ul class="list-unstyled" *ngFor="let t of tretmani">
              <li><a [routerLink]="['/tretmani', t.id]" class="py-1 d-block"><span class="fa fa-check mr-3"></span>{{t.name}}</a></li>
              
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg">
          <div class="ftco-footer-widget py-4 py-md-5">
              <h2 class="ftco-heading-2">Contact information</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon fa fa-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                  <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                  <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@yourdomain.com</span></a></li>
                  <li><h3><a href="https://www.linkedin.com/in/david-dujakovi%C4%87-2759671a2/">Author</a></h3></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg">
           <div class="ftco-footer-widget bg-primary p-4 py-5">
            <h2 class="ftco-heading-2">Business Hours</h2>
            <div class="opening-hours">
                <h4>Opening Days:</h4>
                <p class="pl-3">
                    <span>Monday – Friday : 9am to 20 pm</span>
                    <span>Saturday : 9am to 17 pm</span>
                </p>
                <h4>Vacations:</h4>
                <p class="pl-3">
                    <span>All Sunday Days</span>
                    <span>All Official Holidays</span>
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
    
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
    </footer>
    
    
    
    
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.stellar.min.js"></script>
    <script src="assets/js/jquery.animateNumber.min.js"></script>
    <script src="assets/js/bootstrap-datepicker.js"></script>
    <script src="assets/js/jquery.timepicker.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="assets/js/google-map.js"></script>
    <script src="assets/js/main.js"></script>
      
     
      
        
    
    
    
    
