<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
           
                <div class="col-md-12">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            <div class="col-md-7 d-flex">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Get in touch</h3>
                                    <form action="" method="post" role="form" class="contactForm" [formGroup]="contactForm" (ngSubmit)="onFormSubmit()">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="name" id="name" placeholder="First ans Last name" formControlName="fullName" #fullName>
                                                    <div *ngIf="!contactForm.get('fullName').valid && contactForm.get('fullName').touched">
                                                        <p style="color: red;">Please insert valid full name</p>
                                                      </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> 
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" formControlName="email" #email/>
                                                    <div *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched">
                                                        <p style="color: red;">Please insert valid email</p>
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" formControlName="subject" #subject/>
                                                    <div *ngIf="!contactForm.get('subject').valid && contactForm.get('subject').touched">
                                                        <p style="color: red;">Please insert valid subject</p>
                                                    </div>
                                                 
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <button  class="btn btn-primary" (click)="onClick()">Write message</button>
                                              </div>
                                              <div class="form-group" *ngIf="show" @fadeIn @fadeOut>
                                                <textarea class="form-control" name="message" rows="5" placeholder="Message" formControlName="message" #message></textarea>
                                                 <div *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched">
                                                   <p style="color: red;">Please insert valid message</p>
                                                 </div>
                                                
                                                <input type="submit"  class="btn btn-primary" (click)="onSave()" [disabled]="!contactForm.valid" value="Send message">
                                              </div>
                                            
                                            
                                        </div>
                                    </form>
                                    <div *ngIf="uspeh"  id="uspeh" class="alert alert-success">
                                        Succesfull sent message
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">
                                <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
                                    <h3 class="mb-4 mt-md-4">Contact us</h3>
                            <div class="dbox w-100 d-flex align-items-start">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text pl-3">
                                <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                              </div>
                          </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text pl-3">
                                <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                              </div>
                          </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text pl-3">
                                <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                              </div>
                          </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text pl-3">
                                <p><span>Website</span> <a href="#">yoursite.com</a></p>
                              </div>
                          </div>
                      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>

