<img src="assets/images/bg_3.jpg" style="width: -webkit-fill-available;">
<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters justify-content-center pb-5 mb-3">
  <div class="col-md-7 heading-section text-center">
      <span class="subheading">Team &amp; Staff</span>
    <h2>Our Experts Chiropractor / Therapist</h2>
  </div>
</div>
        <div class="row">
            <div class="col-md-4 d-flex" *ngFor="let z of zaposleni">
                <div class="staff bg-primary">
                    <div class="img-wrap d-flex align-items-stretch">
                        <div class="img align-self-stretch" style="background-image: url(assets/images/{{z.slika}});"></div>
                    </div>
                    <div class="text pt-3 px-3 pb-4 text-center">
                        <h3>{{z.imePrezime}}</h3>
                        <span class="position mb-2">{{z.specijalnost}}</span>
                        <div class="faded">
                            
                            <ul class="ftco-social text-center">
                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
              </ul>
          </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>
