<img src="assets/images/bg_2.jpg" style="width: -webkit-fill-available;">
<section class="ftco-section">
    <div class="container">
        
          <div *ngIf="tretman" class="row tabulation mt-4">
              <div class="col-md-11">
                    <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
                        <li class="nav-item text-left" >
                            <a  class="nav-link py-4" data-toggle="tab"><span class="flaticon-chiropractic mr-2"></span>{{tretman.name}}</a>
                            <div class="slide-toggle-js"><div class="img" style="background-image: url(images/image-1.jpg);"><img src="assets/images/{{tretman.image}}"></div>
                          <h3><a href="#"></a></h3>
                          <p>{{tretman.description}}</p>
                          <p>Cena:{{tretman.price}} DIN</p>
                        </div> 
                    </li>
                      
                    </ul>
                </div>
                
            </div>
    </div>
</section>

