<img src="assets/images/bg_2.jpg" style="width: -webkit-fill-available;">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center heading-section">
          <span class="subheading">Services</span>
        <h2 class="mb-4">Why Choose Us?</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
      </div>
    </div>
          <div class="row tabulation mt-4">
              <div class="col-md-11">
                    <ul class="nav nav-pills nav-fill d-md-flex d-block flex-column">
                        <li class="nav-item text-left" *ngFor="let t of tretmani">
                            <a  class="nav-link py-4" data-toggle="tab"><span class="flaticon-chiropractic mr-2"></span>{{t.name}}</a>
                            <div class="slide-toggle-js"><div class="img" style="background-image: url(images/image-1.jpg);"><img src="assets/images/{{t.image}}"></div>
                          <h3><a href="#"></a></h3>
                          <p>{{t.description | shorten}}</p>
                          <a [routerLink]="['/tretmani', t.id]">See more...</a>
                        </div> 
                    </li>
                      
                    </ul>
                </div>
                
            </div>
    </div>
</section>
