<img src="assets/images/bg_1.jpg" style="width: -webkit-fill-available;">
<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
    <div class="overlay"></div>
<div class="container">
    <div class="row d-md-flex justify-content-center">
        <div class="col-md-12">
            <div class="wrap-appointment d-md-flex">
                <div class="col-md-8 bg-primary p-5 heading-section heading-section-white">
                    <span class="subheading">Booking an Appointment</span>
                    <h2 class="mb-4">Free Consultation</h2>
                    <form action="" method="post" class="appointment" [formGroup]="bookingForm" (ngSubmit)="onFormSubmit()">
                        <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                          <input type="text" class="form-control"  name="name" placeholder="First and Last name" formControlName="fullName" #fullName>
                          <div *ngIf="!bookingForm.get('fullName').valid && bookingForm.get('fullName').touched">
                            <p style="color: red;">Please insert valid full name</p>
                          </div>
                        </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                          <input type="number" class="form-control"  name="phoneNumber" placeholder="Phone number" formControlName="phoneNumber" #phoneNumber>
                          <div *ngIf="!bookingForm.get('phoneNumber').valid && bookingForm.get('phoneNumber').touched">
                            <p style="color: red;">Please insert valid phone number</p>
                          </div>
                        </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <div class="form-field"><h4>Select service</h4>
                                  <div class="select-wrap">
                          <div class="icon"><span class="fa fa-chevron-down"></span></div>
                          <select name="service" id="" class="form-control" formControlName="service" #service>
                            
                            <option *ngFor="let t of tretmani" value="{{t.id}}">{{t.name}}</option>
                          </select>
                          <div *ngIf="!bookingForm.get('service').valid && bookingForm.get('service').touched">
                            <p style="color: red;">Please select service</p>
                          </div>
                        </div>
                          </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <div class="form-field"><h4>Select Chiropractor</h4>
                                  <div class="select-wrap">
                          <div class="icon"><span class="fa fa-chevron-down"></span></div>
                          <select name="chiropractic" id="" class="form-control" formControlName="chiropractic" #chiropractic>
                             
                            <option *ngFor="let z of zaposleni" value="{{z.id}}">{{z.imePrezime}}</option>
                            
                          </select>
                          <div *ngIf="!bookingForm.get('chiropractic').valid && bookingForm.get('chiropractic').touched">
                            <p style="color: red;">Please select chiropractic</p>
                          </div>
                        </div>
                          </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <div class="input-wrap">
                                <div class="icon"><span class="fa fa-calendar"></span></div>
                                <input type="date" class="form-control" placeholder="Date" name="date" formControlName="date" #date>
                                <div *ngIf="!bookingForm.get('date').valid && bookingForm.get('date').touched">
                                  <p style="color: red;">Please insert valid date </p>
                                </div>
                            </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <div class="input-wrap">
                                <div class="icon"><span class="fa fa-clock-o"></span></div>
                                <input type="time" class="form-control" placeholder="Time" name="time" formControlName="time" #time>
                                <div *ngIf="!bookingForm.get('time').valid && bookingForm.get('time').touched">
                                  <p style="color: red;">Please insert valid time </p>
                                </div>
                            </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                          <input type="submit" value="Booking" class="btn btn-secondary py-3 px-4" [disabled]="!bookingForm.valid">
                        </div>
                                </div>
                        </div>
              </form>
              <div *ngIf="uspeh"  id="uspeh" class="alert alert-success">
                Succesfull booking
            </div>
                </div>
                <div class="col-md-4 bg-white text-center p-5">
                    <div class="desc border-bottom pb-4">
                        <h2>Business Hours</h2>
                  <div class="opening-hours">
                      <h4>Opening Days:</h4>
                      <p class="pl-3">
                          <span><strong>Monday – Friday:</strong> 9am to 20 pm</span>
                          <span><strong>Saturday :</strong> 9am to 17 pm</span>
                      </p>
                      <h4>Vacations:</h4>
                      <p class="pl-3">
                          <span>All Sunday Days</span>
                          <span>All Official Holidays</span>
                      </p>
                  </div>
                    </div>
                        <div class="desc pt-4 ">
                            <h3 class="heading">For Emergency Cases</h3>
                            <span class="phone">(+01) 123 456 7890</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>




<br/>
<section class="ftco-section ftco-no-pt ftco-no-pb">
<div class="container">
    <div class="row d-flex no-gutters">
        <div class="col-md-6 d-flex order-md-last">
            <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0" style="background-image:url(assets/images/about.jpg);">
                <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="fa fa-play"></span>
                </a>
            </div>
        </div>
       
        <div class="col-md-6 pr-md-5 py-md-5">
            <div class="row justify-content-start py-5">
          <div class="col-md-12 "> 
              <span class="subheading"><h1>Welcome to Chiropractic</h1></span><br/><br/>
              <button (click)="toggleShowDiv('divA')" class="mb-4 btn btn-primary">About Chiropractic</button>
              <div [@slideInOut]="animationState" class="divA">
                Far  away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            </div>
           
          </div>
        </div>
                <div class="row ftco-counter pb-5" id="section-counter">
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="45">0</strong>
              </div>
              <div class="text">
                  <span>Years of <br>Experienced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="2342">0</strong>
              </div>
              <div class="text">
                  <span>Happy <br>Customers</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text">
                <strong class="number" data-number="30">0</strong>
              </div>
              <div class="text">
                  <span>Award <br>Winning</span>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
</div>
</section>


<br/>
